<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo crud example</title>
</head>
<body>
    <h1>Welcomaeee!! {{message}}</h1>
    <h2>create a form</h2>
    <form action="/store_book" method="post">
        Title: <input type="text" name="title">
        Author: <input type="text" name="author">
        <input type="submit" value="insert">
    </form>
    <ul>
        {{#each myData}}
            <li>{{this.title}} - {{this.author}}</li>
        {{/each}}
    </ul>
</body>
</html>